<template>
  <div class="game">
      <canvas ref="canvas"></canvas>
  </div>
</template>

<script>

import Game from '../modules/Game'

export default {
    name: 'Game',
    data() {
        return {
            gameManager: new Game(this),
            pressing: []
        }
    },
    methods: {
        initialize() {
            this.gameManager.Start(this);
        },
        OnConnected(scene) {
            scene.pressing = this.pressing;

			const animate = () => {
                scene.RunClock();

				requestAnimationFrame(animate);
			}
			animate();

            document.addEventListener('keydown', (e) => {
                scene.OnKeyDown(e);
                        scene.entities.forEach(entity => entity.OnKeyDown(e))

                this.pressing[e.key] = true;
            })
            document.addEventListener('keyup', (e) => {
                scene.OnKeyDown(e);
                        scene.entities.forEach(entity => entity.OnKeyUp(e))

                this.pressing[e.key] = false;
            })
        }
    },
    mounted()  {
        const canvas = this.$refs.canvas;

        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        this.initialize();
    }
}
</script>

<style>

</style>